

.anime-nav {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 18px;
  flex-direction: row;
  background-image: url("https://imgs.search.brave.com/K9nBhaXsSw2pmLciGrGKu8un97DMhzoavyEChMfyaRs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFSU05KTjhKb0wu/anBn");
  background-size: contain; /* Cambié de contain a cover para que ocupe todo el contenedor */
  background-position: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-inline: 100px;
  height: 120px;
  overflow: hidden; /* Asegura que el pseudo-elemento no desborde el contenedor */
}

/* Pseudo-elemento para la capa oscura */
.anime-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad para oscurecer */
  z-index: 1; /* Coloca la capa por encima de la imagen de fondo */
  border-radius: 18px; /* Asegúrate de que coincida con el borde del contenedor */
}

.anime-nav * {
  position: relative;
  z-index: 2; /* Coloca el contenido por encima de la capa oscura */
}

.nav-section {
  position: relative;
  width: 400px;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.main-header {
  display: flex;
  justify-content: center;
}

.type {
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.type:hover {
  color: var(--color-letter-hover);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: linear-gradient(to right, var(--color-red), transparent);
  background: linear-gradient(0.25turn, transparent,  var(--color-red), transparent);
  padding: 5px 15px;
  font-size: 12px;

  & h3 {
    transition: all .2s ease-in-out;
    cursor: pointer;
  
  &:hover {
    color: var(--color-letter-hover);
  }
  }
}


.logo {
  min-width: 50px;
  max-width: 75px;
  filter: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: center;
  color: black;
}


/* Estilo general del contenedor principal */
#container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/**/
.main-content {
  display: flex;
  flex: 1;
}

.main-anime {
  padding-inline: 220px;
  padding-top: 50px;
}

/**/

.logo {
  text-align: center;
  font-size: 2rem;
}

#main-anime-content {
  display: flex;
  flex: 1;
  padding-block: 20px;
  gap: 20px; /* Espacio entre columnas */
}

/* Ajuste para las secciones izquierda y derecha */
.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre artículos */
  min-width: 200px; /* Ancho mínimo para la sección izquierda */
}


.right-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 200px; /* Ancho mínimo para la sección derecha */
}


/* Otros estilos se mantienen como antes */
.new-animes,
.anime-films-ovas,
.popular-animes {
  border: 1px solid #ccc;
}

.new-animes {
  position: relative;
}

.anime-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  z-index: 10;
  width: 30px; /* Ajusta según sea necesario */
  height: 30px; /* Ajusta según sea necesario */
  background-color: #00aaff; /* Color de fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg); /* Rotación para crear el rombo */
  transition: all 0.4s ease;
  cursor: pointer;

  & i {
    color: white;
    font-size: 16px;
  }
}


#left-arrow {
  transform: translateX(35px) rotate(135deg);

  & i {
    transform: rotate(-135deg); /* Rotar el icono en la dirección opuesta para que quede horizontal */
  }
}

#left-arrow:hover {
  transform: translateX(35px) rotate(135deg) scale(1.1);
}


#right-arrow {
  transform: translateX(-35px) rotate(-45deg);

  & i {
    transform: rotate(45deg); /* Rotar el icono en la dirección opuesta para que quede horizontal */
  }
}

#right-arrow:hover {
  transform: translateX(-35px) rotate(-45deg) scale(1.1);
}

/* Contenedor principal del contenido de anime */
.anime-information-container {
  position: relative;
  overflow: hidden; /* Oculta cualquier desbordamiento de las imágenes */
  height: 250px; /* Ajusta según el tamaño deseado */
  width: 100%;
}



.anime-information {
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen en el contenedor */
  width: 100%;
  height: 300px; /* Ajusta la altura según sea necesario */
  display: flex;
  align-items: flex-end; /* Alinea el contenido en la parte inferior */
  padding: 20px; /* Espaciado alrededor del contenido */
  color: white; /* Asegura que el texto sea legible sobre el fondo */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Opcional: añade un poco de sombra al texto para mejorar la legibilidad */
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Inicialmente oculta */
  z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
  display: flex;
  align-items: center;
  position: absolute;

  &.active {
    opacity: 1; /* Visible cuando tiene la clase 'active' */
  }

  &::before {
    content: ""; /* Necesario para que el pseudo-elemento sea visible */
    position: absolute; /* Posiciona el pseudo-elemento absolutamente dentro de .anime-information */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), transparent); /* Capa oscura */
    z-index: -1; /* Asegúrate de que esté debajo del contenido */
  }

  & h4 {
    font-size: 26px;
  }

  & h5 {
    font-size: 16px;
    color: var(--color-red);
  }

  & img {
    height: 100%;
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    border-radius: 12px;
    object-fit: cover;
  }
}


.information-title {
  color: #e2e2e2;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 12px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.rank {
  margin-right: 10px;
}

.like-button,
.save-button {
  margin-left: 10px;
}


.pagination-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
}

.dot {
  height: 8px; /* Tamaño del círculo */
  width: 8px;  /* Tamaño del círculo */
  margin: 0 4px; /* Espacio entre los círculos */
  background-color: #fffedf; /* Color de fondo blanco */
  border-radius: 50%; /* Forma circular */
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animación suave */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  &.active {
    background-color: #00aaff; /* Color de fondo */
    transform: scale(1.2); /* Aumenta el tamaño del círculo activo */
  }

  &:hover {
    background-color: #00699e; /* Color del círculo activo */
  }
}

/* OVAS */
.loading-ovas {
  position: relative;
  width: 100%;

  & img {
    width: 100%;
  }

  & p {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Elimina el margen por defecto del <p> */
    font-size: 24px;
  }
}
.anime-films-ovas h4 {
  padding: 10px;
  background-color: #00699e;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.ovas-content {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 15px 10px;
  flex-wrap: wrap;
}

.ova-item {
  width: 150px;
  font-size: 12px;
  cursor: pointer;

  & h5 {
    margin-top: 10px;
  }

  & p {
    color: var(--color-red);
    font-size: 10px;
    font-weight: bold;
  }

  & img {
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1);
  }
}


.see-more {
  text-align: center;
  margin-top: -10px;

    & svg {
      width: 50px;
      height: 50px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));


    &:hover{
      transform: scale(1.1);
    }
  }
}




