* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto totales */
}



body {
  background-color: var(--color-background);
  color: white;
}

button {
  border-radius: 12px;
  color: white;
  outline: none;
  border: none;

  &:root {
    outline: none;
  }

  &:focus {
    outline: none;  
  }
}
